* {
	padding: 0;
	margin: 0;
}

body {
	background: #F4F4FA;
    font-family: 'Open Sans', sans-serif;
}

header {
	background: #042920;
	color: #fff;
	text-align: center;
	padding: 50px 0;
	height: 400px;
	position: absolute;
	top: 0;
	width: 100%;
}

header .titulo {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

main {
	margin-top: 150px;
}

main .contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */

.fm-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}

.fm-video .vjs-control-bar {
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6702031154258579) 50%, rgba(0,0,0,0) 100%);
}


.fm-video .vjs-play-progress {
	background: #0b7459;
}

.vjs-remaining-time-display{
	font-size: 1rem;
}

.fm-video span {
	font-size: 1rem;
}
/*-------------------------------------------*/
article {
	margin: 50px 0;
	background: #fff;
	color: #000;
	font-size: 16px;
	line-height: 28px;
	padding: 40px;
}



article h2 {
	color: #2D5F85;
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
	header {
		position: relative;
		height: auto;
	}

	main {
		margin-top: 50px;
	}
}